<!DOCTYPE html>
<html>
<head>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/ngteam.css"/>
</head>
<body ng-app="ngTeam">
<div ng-controller="MainCtrl">
    <div class="container">
        <div class="row">
            <h2>Players</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 playerBox" ng-repeat="player in players">
                <input class="form-control" type="text" ng-model="player.name" />
            </div>
        </div>
        <br>
        <div class="row">
            <span class="col-md-4">
                <label>Number of Teams:</label>
                <select ng-model="numTeams">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </span>
        </div>
        <br>
        <div class="row">
            <span class="col-sm-5"></span>
            <button class="col-sm-3 btn btn-primary" ng-click="generateTeams()">Generate Teams</button>
            <span class="col-sm-5"></span>
        </div>
        <hr/>
    </div>


    <div class="container">
        <div class="row">
            <h2>Teams</h2>
        </div>
        <div clas="row">
            <div class="container col-sm-3" ng-show="teams" ng-repeat="team in teams">
                <h3>Team {{$index + 1}}</h3>
                <div class="row" ng-repeat="player in team">{{player.name}}</div>
            </div>
        </div>
    </div>
</div>

<script src="js/ngTeam.js"></script>
</body>
</html>